extend layout
block content
  .page-header
    h1= election.title

  ul
    each value, key in election
      if key == "email"
        each v, k in value
          if k == "content"
            li
              strong
                | Email 
                = k
                | : 
              pre= v
           else
             li
               strong
                 | Email 
                 = k
                 | : 
               span=v 
      else
        li
          strong
            = key
            | : 
          if Array.isArray(value)
            span= value.length
          else
            span= value

  if election.testToken
    a.btn.btn-primary(href='/' + election.slug + '/' + util.uuid.fromMongo(election.testToken)).
      Test Ballot

  a.btn.btn-primary(href="/admin/ballots/" + election.slug).
    Ballots

  a.btn.btn-primary(href='/admin/results/' + election.slug).
    Results


